[Desktop Entry]
Type=Application
Name=YSCounter
Exec=/usr/local/bin/yscounter %F
Icon=yscounter
Terminal=false
Categories=Utility
MimeType=text/x-python;